USE [master]
GO
/****** Object:  Database [Db_ATM]    Script Date: 9/15/2024 9:00:40 PM ******/
CREATE DATABASE [Db_ATM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Db_ATM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_ATM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Db_ATM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_ATM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Db_ATM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Db_ATM]
GO
/****** Object:  Table [dbo].[TblAccount]    Script Date: 9/15/2024 9:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblAccount](
	[AccountNo] [char](6) NULL,
	[Budget] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblOperation]    Script Date: 9/15/2024 9:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblOperation](
	[opeartionId] [int] IDENTITY(1,1) NOT NULL,
	[sender] [char](6) NULL,
	[receiver] [char](6) NULL,
	[amount] [decimal](18, 3) NULL,
	[operationType] [varchar](50) NULL,
 CONSTRAINT [PK_TblOperation] PRIMARY KEY CLUSTERED 
(
	[opeartionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblPerson]    Script Date: 9/15/2024 9:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblPerson](
	[personId] [int] IDENTITY(1,1) NOT NULL,
	[personName] [varchar](20) NULL,
	[personSurname] [varchar](20) NULL,
	[personIdentityNo] [char](11) NULL,
	[personPhone] [varchar](20) NULL,
	[personAccountNo] [char](6) NULL,
	[personPassword] [varchar](10) NULL,
 CONSTRAINT [PK_TblPerson] PRIMARY KEY CLUSTERED 
(
	[personId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
